body {
    margin: 0px;
    font-size: 10px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    border: none;
    margin: 1px;
}

.clicked {
    background-color: blue;
    color: white;
}

.unclicked {
    background-color: lightgray;
    color: black;
}

.required {
    font-weight: bold;
    font-size: 150%;
    border-bottom: 3px solid red;
    margin: 2px 1px 3px;
}

.recommended {
    font-weight: bold;
    font-size: 120%;
    border-bottom: 3px solid darkorange;
    margin: 2px 1px 3px;
}

.disabled {
    text-decoration: line-through;
    pointer-events: none;
}

